{% extends 'main/layout.html' %}

{% block title %} India domestic flights {% endblock %}
{% block content %}
    <h1> India domestic flights </h1>
<div class="main-class">
    <p class="fs-4"> <b>Airline:</b> {{ airline }} </p>
    <p class="fs-4">  <b>Date of journey:</b> {{ date }} </p>
    <p class="fs-4"> <b>Duration of flight:</b> {{ hours }}h {{ minutes }}m </p>
    <div class="badge bg-primary text-wrap" style="width: 12rem;">
        <p class="fs-2"> Expected airfare {{ predicted }} ₹</p>
    </div>
</div>

{% endblock %}