body {
    background: #f5f5dc;
}

.main-class{
 position relative;
 text-align: center;
}

form{
 position: absolute;
 top: 50%;
 left: 50%;
 transform: translate(-50%,-50%);
}

.input-form p {
    margin-bottom:2%;
}

.btn-success {
    margin-top:5%;
}

.main_form {
    margin-top:3%;
}

input {
    margin-top:1%;
    margin-bottom:1%
}

h1 {
    text-align:center;
    margin-top:2%;
}


